
@{
    ViewBag.Title = "비밀번호 변경";
}

<div class="page-all">
    <div class="form-input-500" style="text-align:center;">
        <h2>비밀번호 변경</h2>
        <form class="form-signin" method="post">
            <input class="form-control" type="text" name="UserId" placeholder="아이디" />
            <input class="form-control" type="text" name="UserPrePw" placeholder="이전 비밀번호" />
            <input class="form-control" type="text" name="UserChPw" placeholder="바꿀 비밀번호" />

            <div class="text-center">
                <input class="btn btn-primary" type="submit" />
            </div>
        </form>
    </div>
</div>
